<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <%- include('header') %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheets/adminhome.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <title>Document</title>
</head>

<body style="margin: 0.5%;">
    <div class="wrapper">
        <div class="box">
            <%- include('menuDaily') %>
        </div>
        <form action="" style="margin: 5px;padding:25px;margin-top: 2vw;">
            <div id="form">
                <div class="info-user">
                    <div>
                        <h3>Thông tin tìm kiếm</h3>
                    </div>
                    <div id="wrt-info">
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Mã Phiếu Yêu Cầu</span>
                                <input type="text">
                            </div>
                            <div class="if-fm ck">
                                <span>Trạng Thái</span>
                                <select name="" id="" style="width: 176px;">
                                <option value=""></option>
                            </select>
                            </div>
                        </div>
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Mã Khách Hàng</span>
                                <input type="text">
                            </div>
                            <div class="if-fm ck">
                                <span>Tên Giao Dịch</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Số CMTND/HC</span>
                                <input type="text">
                            </div>
                            <div class="if-fm ck">
                                <span>Giấy Phép DKKD</span>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-user">
                    <div>
                        <h3></h3>
                    </div>
                    <div id="wrt-info">
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Tỉnh/Thành Phố</span>
                                <select name="" id="" style="width: 176px;">
                                <option value=""></option>
                            </select>
                            </div>
                            <div class="if-fm ck">
                                <span>Loại Yêu Cầu</span>
                                <select name="" id="" style="width: 176px;">
                                <option value=""></option>
                            </select>
                            </div>
                        </div>
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Ngày Yêu Cầu : Từ Ngày</span>
                                <input type="date">
                            </div>
                            <div class="if-fm ck">
                                <span>Đến Ngày</span>
                                <input type="date">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <div class="example" action="/action_page.php" style="margin:auto;max-width:300px">
            <input type="text" placeholder="Tim kiem..." name="search2">
        </div>
    </div>
</body>
<script>
    /* When the user clicks on the button, 
                                                                                                                                                                                                                                                                                    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>

</html>