<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <%- include('header') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a00b7d7856.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <h2 class="pt-3">Đăng nhập</h2>
    <div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <form action="/users/login" method="POST">
                <h1>Đăng nhập</h1>
                <input type="text" name="username" placeholder="Tên đăng nhập" />
                <input type="password"  name="password" placeholder="Mật khẩu" />
                <% if(message){ %> 
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> 
                <a href="/users/forgot">Quên mật khẩu?</a>
                <button type="submit" class="btn">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-right">
                    <h1>Xin chào!</h1>
                    <p>Vui lòng đăng nhập để tiếp tục</p>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>


</html>