<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('header') %> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../stylesheets/organization.css">
        <link rel="stylesheet" href="../stylesheets/adminhome.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="box">
                <%- include('menuDaily')  %> 
            </div>
            <div class="container">
                <div class="row">
                  <div class="nm-fm col-md-12">
                    <h2 class="title">TẠO YÊU CẦU CẤP MỚI CHỨNG THƯ SỐ</h2>
                    <div class="choose-certificate">
                        <a href="/digital-certificate/personal" class="btn btn-primary">Cá nhân</a>
                        <a href="/digital-certificate/organization"  class="btn btn-primary">Tổ chức</a>
                    </div>
                </div>
                    <form action="" style="margin: 5px;padding:25px;margin-top: 2vw;border: solid 0.25px #ccc;">
                        <div id="form">
                            <div class="info-user">
                                <div>
                                    <h3>Tìm kiếm nhanh</h3>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Mã Phiếu Yêu Cầu</label>
                                            <input type="text">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Trạng Thái</label>
                                            <select name="" id="" style="width: 176px;">
                                                <option value="0">Dự thảo</option>
                                                <option value="1">Chờ duyệt lần 1</option>
                                                <option value="2">Chờ duyệt lần 2</option>
                                                <option value="3">Đã duyệt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Mã Khách Hàng</label>
                                            <input type="text">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Tên Giao Dịch</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Số CMTND/HC</label>
                                            <input type="text">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Giấy Phép DKKD</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-user">
                               
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Tỉnh/Thành Phố</label>
                                            <select name="tinhThanhFilter" id="tinhThanh" style="width: 176px;">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Loại Yêu Cầu</label>
                                            <select name="loaiCTSIdFilter" id="quanHuyen"  style="width: 176px;">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Ngày Yêu Cầu : Từ Ngày</label>
                                            <input type="date">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Đến Ngày</label>
                                            <input type="date">
                                        </div>
                                    </div>
                    
                                </div>
                            </div>

                        </div>

                        <input type="submit" class="btn btn-primary" value="Tìm kiếm">

                    </form>
                </div>
            </div>
            <h3 class="pl-3">Danh sách phiếu yêu cầu</h3>
            <div class="container" style="border: 1px solid #aaaaaa;">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#CTSCaNhan">Cá Nhân</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#CTSDoanhNgiep">Doanh Nghiệp</a>
                  </li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="CTSCaNhan" class="container tab-pane active"><br>
                    <div class="row" style="border: 1px solid #aaaaaa;">
                        <form action="/digital-certificate/personal/send-request" method="POST">
                        <table class="table table-bordered" >
                            <thead class="thead-default">
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã yêu cầu</th>
                                <th scope="col">Họ Tên</th>
                                <th scope="col">CMND</th>
                                <th scope="col">MST</th>
                                <th scope="col">Gói CTS</th>
                                <th scope="col">Thời hạn (năm)</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Người tạo</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Trạng thái hồ sơ</th>
                              </tr>
                            </thead>
                            <tbody id="pendingStatus">
                             
                            </tbody>
                        </table>
                    </form>
                    </div>
                  </div>
                  <div id="CTSDoanhNgiep" class="container tab-pane fade"><br>
                    <div class="row" style="border: 1px solid #aaaaaa;">
                        <form action="/digital-certificate/organization/send-request" method="POST">
                        <table class="table table-bordered" >
                            <thead class="thead-default">
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã yêu cầu</th>
                                <th scope="col">Tên Doanh Ngiệp</th>
                                <th scope="col">Giấy Phép KD</th>
                                <th scope="col">MST</th>
                                <th scope="col">Gói CTS</th>
                                <th scope="col">Thời hạn (năm)</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Người tạo</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Trạng thái hồ sơ</th>
                              </tr>
                            </thead>
                            <tbody id="pendingStatusDN">
                             
                            </tbody>
                        </table>
                    </form>
                    </div>
                  </div> 
                </div>
              </div>
            <h3 class="pl-3">Đã phê duyệt</h3>
            <div class="container" style="border: 1px solid;">
                <div class="row">
                    <table class="table table-bordered" >
                        <thead class="thead-default">
                          <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã yêu cầu</th>
                            <th scope="col">Họ Tên</th>
                            <th scope="col">CMND</th>
                            <th scope="col">MST</th>
                            <th scope="col">Gói CTS</th>
                            <th scope="col">Thời hạn (năm)</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Cấp CTS</th>
                          </tr>
                        </thead>
                        <tbody id="approvedStatus">
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

    </body>
    <script src="../javascripts/listDaiLy2.js" type="module"></script>
    <script src="../javascripts/init.js"></script>
</html>
