<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('header') %> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/organization.css">
        <link rel="stylesheet" href="/stylesheets/adminhome.css">

    </head>

    <body>
        <div class="wrapper">
            <div class="box">
                <%- include('menuAdmin')  %> 
            </div>
            <div id="modalCertificatePersonal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="form-area">
                          <div class="top-modal">
                            <h2 style="margin-bottom:15px; color:firebrick;" id="titleModalPersonal" class="title-modal"></h2>
                            <span class="close btn-cancel">&times;</span>
                          </div>
                        <form action="/digital-certificate/personal/send-response" method="POST">
                            <div id="form">
                                <div class="info-user">
                                    <div>
                                        <h5>Thông tin khách hàng</h5>
                                    </div>
                                    <div id="wrt-info">
                                        <div class="if-fm">
                                            <div class="if-fm ck">
                                                <span>Họ Và Tên</span>
                                                <input type="text" id="hoTenNguoiDK" disabled>
                                            </div>
                                            <div class="if-fm ck">
                                                <span>Mã Số Thuế</span>
                                                <input type="text" id="MSTCaNhan" disabled>
                                            </div>
                                        </div>
                                        <div class="if-fm">
                                            <div class="if-fm ck">
                                                <span>Số CMTND/HC</span>
                                                <input type="text" id="soCMT" disabled>
                                            </div>
                                            <div class="if-fm ck">
                                                <span>Ngày cấp</span>
                                                <input type="text" id="ngayCapCMT" disabled>
                                            </div>
                                        </div>
                                        <div class="if-fm mn">
                                            <div class="if-fm ck">
                                                <span>Nơi cấp</span>
                                                <input type="text" id="noiCapCMT" disabled>
                                            </div>
                                        </div>
                                        <div class="if-fm">
                                            <div class="if-fm ck">
                                                <span>Email Giao Dịch</span>
                                                <input type="text" id="email" disabled>
                                            </div>
                                            <div class="if-fm ck">
                                                <span>Số Điện Thoại</span>
                                                <input type="text" id="soDienThoai" disabled>
                                            </div>
                                        </div>
                                        <div class="if-fm mn">
                                            <span>Địa chỉ</span>
                                            <input type="text" id="diaChi" disabled>
                                        </div>
                                        <div class="if-fm mn">
                                            <span>Thuộc Tổ Chức</span>
                                            <input type="text" id="tenCongTy" disabled>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="info-user" style="margin-top: 2vw;">
                        
                                    <div id="wrt-info">
                                        <div class="if-fm">
                                            <div class="if-fm ck">  
                                                <span>Ngành nghề</span>
                                                <input type="text" id="nganhNghe" disabled>
                                            </div>
                                            <div class="if-fm ck">
                                                <span>Chức Vụ</span>
                                                <input type="text" id="chucVu" disabled>
                                            </div>
                                        </div>
                                            <div class="if-fm ck">
                                                <span>Mã số thuế Công ty</span>
                                                <input type="text" id="MSTCongTy" disabled>
                                            </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Tỉnh Thành</span>
                                            <input type="text" id="tinhThanh" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Quận Huyện</span>
                                            <input type="text" id="quanHuyen" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                                
                        
                            <div id="form" style="margin-top: 1vw;">
                                <div class="info-user">
                                    <div>
                                        <h5>Thông Tin Phiếu Yêu Cầu</h5>
                                    </div>
                                    <div id="wrt-info">
                                        <div class="if-fm mn">
                                            <span>Mã Phiếu Yêu Cầu</span>
                                            <input type="text" id="maPhieuYC" disabled>                                    
                                        </div>
                                        <div class="if-fm">
                                            <div class="if-fm ck">
                                                <span>Loại Chứng Thư</span>
                                                <input type="text" id="goiCTS" disabled>
                                            </div>
                                            <div class="if-fm ck">
                                                <span>Thời Hạn Sử Dụng</span>
                                                <input type="text" id="thoiHan" disabled>
                                            </div>
                                        </div>
                                        <div class="if-fm mn">
                                            <span>
                                            Ý Kiến Đại Lý
                                            </span>
                                            <input type="text" name="yKienDaiLy">
                                        </div>
                                        <div class="if-fm mn" >
                                            <span>
                                            Ý Kiến VINA
                                            </span>
                                            <input type="text" name="yKienVina">
                                        </div>
                                        <div class="if-fm mn" disabled>
                                            <span>
                                            Giấy Phép DKKD - CMND
                                            </span>
                                            <input type="text" disabled>
                                        </div>
                                        <div class="if-fm mn">
                                            <span>
                                            Phiếu Đăng Kí Hợp Đồng
                                            </span>
                                            <input type="text" disabled>
                                        </div>
                                        <div class="if-fm mn">
                                            <span>
                                            BBBG/Giấy Xác Nhận
                                            </span>
                                            <input type="text" disabled>
                                        </div>
                    
                                    </div>
                    
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead class="thead-default">
                                    <th>Chọn</th>
                                    <th>STT</th>
                                    <th>Loại tài liệu</th>
                                    <th>Tên tài liệu</th>
                                    <th>Ngày tạo</th>
                                    <th>Người tạo</th>
                                </thead>
                                <tbody  id="documentPersonal">
                                  
                                </tbody>
                            </table>
                            <div id="register">
                                <div class="rg-btn">
                                    <input type="submit" value="Duyệt" class="btn btn-success" name="accept" id="btnAcceptPersonal">
                                    <input type="submit" value="Từ Chối Duyệt" class="btn btn-danger" name="decline" id="btnDeclinePersonal">
                                    <input type="button" value="Đóng" class="btn btn-secondary btn-cancel">
                                    <input type="hidden" id="id" name="id">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end-modal personal -->
            <div id="modalCertificateOrganization" class="modal">

                <!-- Modal content -->
                  <div class="modal-content">
                    
                      <div class="form-area">
                          <div class="top-modal">
                            <h2 style="margin-bottom:15px; color:firebrick;" id="titleModalOrganization" class="title-modal"></h2>
                            <span class="close btn-cancelDN">&times;</span>
                          </div>
                          <form action="/digital-certificate/organization/send-response" method="POST">
                          <div id="form">
                            <div class="info-user">
                                <div>
                                    <h5>Thông tin khách hàng</h5>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Tên Giao Dịch</span>
                                            <input type="text" id="tenGD-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Mã Số Thuế</span>
                                            <input type="text" id="MST-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Giấy phép ĐKKD</span>
                                            <input type="text" id="giayPhepDKKD-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Ngày cấp</span>
                                            <input type="text" id="ngayCap-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm mn">
                                        <span>
                                            Địa chỉ 
                                        </span>
                                        <input type="text" id="diaChi-DN" disabled>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Tỉnh thành</span>
                                            <input type="text" id="tinhThanh-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Quận Huyện</span>
                                            <input type="text" id="quanHuyen-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Email Giao Dịch</span>
                                            <input type="text" id="emailGD-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Số Điện Thoại</span>
                                            <input type="text" id="soDienThoai-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm mn">
                                        <span>
                                        Thuộc Tổ Chức
                                        </span>
                                        <input type="text" id="toChuc-DN" disabled>
                                    </div>
                                </div>
                            </div>
                            </div>  
                          <div id="form" style="margin-top: 1vw;">
                            <div class="info-user">
                                <div>
                                    <h5>Đại Diện Pháp Lý</h5>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Họ Và Tên</span>
                                            <input type="text" id="hoTen-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Chức Vụ</span>
                                            <input type="text" id="chucVu-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Số CMTND/HC</span>
                                            <input type="text" id="soCMTND-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Ngày cấp</span>
                                            <input type="text" id="ngayCapCMTND-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm mn">
                                        <span>
                                           Nơi Cấp
                                        </span>
                                        <input type="text" id="noicap-DN" disabled>
                                    </div>
                                </div>
                                <div class="if-fm">
                                    <div class="if-fm ck">
                                        <span>Email</span>
                                        <input type="text" id="email-DN" disabled>
                                    </div>
                                    <div class="if-fm ck">
                                        <span>Số Điện Thoại</span>
                                        <input type="text" id="sdt-DN" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="form" style="margin-top: 1vw;">
                            <div class="info-user">
                                <div>
                                    <h5>Thông Tin Phiếu Yêu Cầu</h5>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Mã Phiếu Yêu Cầu</span>
                                            <input type="text" id="maPhieuYC-DN"disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Loại Yêu Cầu</span>
                                            <input type="text" id="loaiYC" disabled>
                                       </select>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <span>Loại Chứng Thư</span>
                                            <input type="text" id="goiCTS-DN" disabled>
                                        </div>
                                        <div class="if-fm ck">
                                            <span>Thời Hạn Sử Dụng</span>
                                            <input type="text" id="thoiHan-DN" disabled>
                                        </div>
                                    </div>
                                    <div class="if-fm mn">
                                        <span>
                                           Ý Kiến Đại Lý
                                        </span>
                                        <input type="text" name="yKienDaiLy">
                                    </div>
                                    <div class="if-fm mn" disabled>
                                        <span>
                                           Ý Kiến VINA
                                        </span>
                                        <input type="text" name="yKienVina">
                                    </div>
                                    <div class="if-fm mn" disabled>
                                        <span>
                                          Giấy Phép DKKD - CMND
                                        </span>
                                        <input type="text" disabled>
                                    </div>
                                    <div class="if-fm mn">
                                        <span>
                                           Phiếu Đăng Kí Hợp Đồng
                                        </span>
                                        <input type="text" disabled>
                                    </div>
                                    <div class="if-fm mn">
                                        <span>
                                          BBBG/Giấy Xác Nhận
                                        </span>
                                        <input type="text" disabled>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead class="thead-default">
                                            <th>Chọn</th>
                                            <th>STT</th>
                                            <th>Loại tài liệu</th>
                                            <th>Tên tài liệu</th>
                                            <th>Ngày tạo</th>
                                            <th>Người tạo</th>
                                        </thead>
                                        <tbody  id="documentOrganization">
                                           
                                        </tbody>
                                    </table>
                                </div>
                
                            </div>
                        </div>
                        <div id="register">
                            <div class="rg-btn">
                                <input type="submit" value="Duyệt" class="btn btn-success" name="acceptOrg" id="btnAcceptOrg">
                                <input type="submit" value="Từ Chối Duyệt" class="btn btn-danger" name="declineOrg" id="btnDeclineOrg">
                                <input type="button" value="Đóng" class="btn btn-secondary btn-cancelDN">
                                <input type="hidden" id="idOrg" name="idOrg">

                            </div>
                        </div>
                          </form>
                        </div>
                      </div>
            </div>
            <!-- end-modal organization -->
            <div class="container">
                <div class="row">
                       <!-- search -->
                       <form action="" style="width:100%; margin: 5px;padding:25px;margin-top: 2vw;border: solid 0.25px #ccc;">
                        <style>
                            .form-control {
                                height: calc(0.75em + .75rem + 2px);
                                padding: 0;
                            }
                            .form-group{
                                margin-bottom: 0;
                            }
                        </style>
                        <div>
                            <h3>Thông tin tìm kiếm
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Mã phiếu yêu cầu</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Mã khách hàng</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Số CMTND/HC</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="inputState" class="col-sm-4 col-form-label">Tỉnh/Thành phố</label>
                                    <div class="col-sm-8">
                                        <select name="tinhThanh" class="tinhThanh form-control">
                                            <option selected>Chọn tỉnh thành</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Ngày YC&emsp;Từ ngày:</label>
                                    <div class="col-sm-8">
                                      <input type="date" class="form-control">
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label  class="col-sm-4 col-form-label">Trạng thái</label>
                                    <div class="col-sm-8">
                                        <select  class="form-control">
                                            <option selected>Chọn trạng thái</option>
                                            <option value="0">Dự thảo</option>
                                            <option value="1">Chờ duyệt lần 1</option>
                                            <option value="2">Gửi thông tin thuê bao</option>
                                            <option value="3">Đã gửi thông tin thuê bao</option>
                                            <option value="4">Chờ duyệt lần 2</option>
                                            <option value="5">Chưa cấp CTS</option>
                                            <option value="6">Đã cấp CTS</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tên giao dịch</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Giấy phép ĐKKD</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Loại yêu cầu</label>
                                    <div class="col-sm-8">
                                        <select name="goiCTSId" id="servicesFind" class="form-control">
                                            <option selected >Chọn loại yêu cầu</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Đến ngày:</label>
                                    <div class="col-sm-8">
                                      <input type="date" class="form-control">
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div style="margin: 0 auto; width: 13%; margin-top:30px" class="search">
                            <input  type="submit" class="btn btn-primary" value="Tìm kiếm">
                        </div>
                        
                    </form>
                </div>
            </div>
    <!-- Pending -->
            <h3 class="pl-3">Danh sách phiếu yêu cầu</h3>
                <div class="container">
                    <br>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#CTSCaNhan">Cá Nhân</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#CTSDoanhNghiep">Doanh Nghiệp</a>
                      </li>
                    </ul>
                  
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div id="CTSCaNhan" class="container tab-pane active"><br>
                        <div class="row table-wrapper" style="border: 1px solid #aaaaaa;">
                            <table class="table table-bordered">
                                <thead class="thead-default">
                                    <tr>
                                    <th scope="col">Xử lý</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã yêu cầu</th>
                                    <th scope="col">Họ Tên</th>
                                    <th scope="col">Gói</th>
                                    <th scope="col">Mã số thuế</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                    <th scope="col">Trạng thái hồ sơ</th>
                                    <th scope="col">TokenId</th>
                                    <th scope="col">Serial</th>
                                    </tr>
                                </thead>
                                <tbody id="pendingStatus">
                                </tbody>
                            </table>

                        </div>
                        <div class="pagin-wrapper"  id="paginPersonal"></div>

                    <form id="formSendMailPersonal" method="POST"></form>

                      </div>
                      <div id="CTSDoanhNghiep" class="container tab-pane fade"><br>
                        <div class="row table-wrapper" style="border: 1px solid #aaaaaa;">
                            <table class="table table-bordered">
                                <thead class="thead-default">
                                    <tr>
                                    <th scope="col">Xử lý</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã yêu cầu</th>
                                    <th scope="col">Tên GD</th>
                                    <th scope="col">Gói</th>
                                    <th scope="col">Mã số thuế</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                    <th scope="col">Trạng thái hồ sơ</th>
                                    <th scope="col">TokenId</th>
                                    <th scope="col">Serial</th>
                                    </tr>
                                </thead>
                                <tbody id="pendingStatusDN">
                                </tbody>
                            </table>
                        </div>
                        <div class="pagin-wrapper" id="paginOrganization"></div>

                        <form id="formSendMailOrganization" method="POST"></form>

                      </div> 
                    </div>
                </div>
    <!-- Approved -->
            <h3 class="pl-3">Đã phê duyệt</h3>
            <div class="container">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#CTSCaNhanApproved">Cá Nhân</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#CTSDoanhNghiepApproved">Doanh Nghiệp</a>
                  </li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="CTSCaNhanApproved" class="container tab-pane active"><br>
                    <div class="row table-wrapper" style="border: 1px solid #aaaaaa;">
                        <table class="table table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th scope="col">Chi tiết</th>
                                    <th scope="col">STT</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Cấp CTS</th>
                                    <th scope="col">Mã yêu cầu</th>
                                    <th scope="col">Họ Tên</th>
                                    <th scope="col">CMND</th>
                                    <th scope="col">MST</th>
                                    <th scope="col">Gói CTS</th>
                                    <th scope="col">Thời hạn (năm)</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                
                                </tr>
                            </thead>
                            <tbody id="approvedStatus">
                            </tbody>
                        </table>

                    </div>
                    <div class="pagin-wrapper" id="paginPersonalApproved"></div>
                  </div>
                  <div id="CTSDoanhNghiepApproved" class="container tab-pane fade"><br>
                    <div class="row table-wrapper" style="border: 1px solid #aaaaaa;">
                        <table class="table table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th scope="col">Chi tiết</th>
                                    <th scope="col">STT</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Cấp CTS</th>
                                    <th scope="col">Mã yêu cầu</th>
                                    <th scope="col">Tên GD</th>
                                    <th scope="col">CMND</th>
                                    <th scope="col">MST</th>
                                    <th scope="col">Gói CTS</th>
                                    <th scope="col">Thời hạn (năm)</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                  </tr>
                                </thead>
                                <tbody id="approvedStatusDN">
                                </tbody>
                        </table>
                    </div>
                    <div class="pagin-wrapper" id="paginOrgApproved"></div>
                  </div> 
                </div>
            </div>
         
        </div>
        <div id='status' style="display:none; visibility:hidden"><%= message %></div>

    </body>
    <script src="/javascripts/listAdmin1.js" type="module"></script>
    <script src="/javascripts/init.js"></script>
    <script src="/vendor/pagination.js"></script>
</html>
