<!DOCTYPE html>
<html>

<head>
    <title>
        Quản lý tài khoản
    </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <%- include('header') %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../stylesheets/addmi-add.css">
        <link rel="stylesheet" href="../stylesheets/adminhome.css">
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <% if(locals.user.role===1){ %> 
            <%- include('menuAdmin') %>
            <% }else{ %> 
            <%- include('menuDaily') %>
            <% } %> 
        </div>
           <!-- The Modal -->
           <div id="myModal" class="modal">

            <!-- Modal content -->
              <div class="modal-content">
                
                  <div class="form-area">
                      <div class="top-modal">
                        <h2 style="margin-bottom:15px; color:firebrick;" class="title-modal">Thêm mới tài khoản người dùng</h2>
                        <span class="close">&times;</span>
                      </div>
                      <form action="users/add" method="POST" id="formNewAccount">
                        <div class="form-left">
                            <div class="form-group">
                                <label class="input-group-text col-md-3"><span style="color: red;">*</span> Họ và tên: </label>
                                <input type="text" name="hoTen" id="hoTen" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Tên đăng nhập: </label>
                              <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Mật khẩu: </label>
                              <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Nhập lại mật khẩu: </label>
                              <input type="password" id="passwordAgain" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Loại tài khoản: </label>
                              <select name="role">
                                 <% if(locals.user.role === 0){ %><option value="0">Admin cấp 1</option> <% } %> 
                                 <% if(locals.user.role === 0){ %><option value="1">Admin cấp 2</option> <% } %> 
                                 <% if(locals.user.role <= 1){ %><option value="2">Đại lý cấp 1</option> <% } %> 
                                <option value="3">Đại lý cấp 2</option>
                              </select>
                            </div>
                            <small>Chú thích: (<span style="color: red;">*</span>) là bắt buộc</small>
                            <button type="submit" class="btn-primary">Ghi lại</button>
                            <button type="reset" class="btn-secondary">Reset</button>   
                        </div>
                        <div class="form-right">
                            <div class="form-group">
                                <label class="input-group-text col-md-3"><span style="color: red;">*</span> Địa chỉ: </label>
                                <input type="diaChi" name="diaChi" id="diaChi" class="form-control">
                              </div>
                            <div class="form-group">
                                <label class="input-group-text col-md-3"><span style="color: red;">*</span> Trạng thái: </label>
                                <select name="isActive">
                                    <option value="0">Không hoạt động</option>
                                    <option value="1" selected>Hoạt động</option>
                                </select>
                              </div>
                            <div class="form-group">
                                <label class="input-group-text col-md-3"><span style="color: red;">*</span> Tỉnh/TP: </label>
                                <select name="tinhThanhId" class="tinhThanh">

                                </select>
                              </div>
                        </div>
                 
  
                          <input type="hidden" name="belongTo" id="id" value="<%= locals.user._id %> ">
                      
                    
                      </form>
                  </div>
              </div>
  
            </div>
        <form action="" style="margin-top: 1vw;">
            <div id="form">
                <div class="info-user">
                    <div>
                        <h3>Thông Tin Tìm Kiếm</h3>
                    </div>
                    <div id="wrt-info">

                        <div class="if-fm">
                            <div class="if-fm ck">
                                <label>Tên đăng nhập</label>
                                <input type="text" name="username">
                            </div>
                            <div class="if-fm ck">
                                <label>Tỉnh/TP</label>
                                <select name="tinhThanhFilter" class="tinhThanh" style="width: 70%;">
                                </select>
                            </div>
                        </div>
        
              
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <label>Loại Tài Khoản</label>
                                <select  style="width: 70%;">
                              <option value="0">Tất Cả</option>
                              <option value="0">Admin Cấp 1</option>
                              <option value="1">Admin Cấp 2</option>
                              <option value="2">Đại Lý Cấp 1</option>
                              <option value="3">Đại Lý Cấp 2</option>
                            </select>
                        </div>
                        <div class="if-fm ck">
                            <label>Đại Lý</label>
                            <select name="roleFilter" style="width: 70%;">
                            <option value="2">Đại Lý Cấp 1</option>
                            <option value="3">Đại Lý Cấp 2</option>
                        </select>
                        </div>
                        </div>
                    </div>
                </div>
                <div id="register">
                    <div class="rg-btn">
                        <input type="submit" value="Tìm Kiếm" class="btn btn-primary">
                        <input type="button" value="Thêm Mới" class="btn btn-primary btn-modal">
                    </div>
                </div>
        </form>

        <div id="form">
            <div class="info-user">
                <div>
                    <h3>Kết Quả Tìm Kiếm</h3>
                </div>
            </div>
        </div>
        </div>
        <h3 class="pl-3">Danh sách đại lý</h3>
        <div class="container">
            <div class="row">
                <table class="table table-bordered">
                    <thead class="thead-default">
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Chọn</th>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Tên đầy đủ</th>
                        <th scope="col">Tỉnh/ TP</th>
                        <th scope="col">Quyền người dùng</th>
                        <th scope="col">Trạng thái</th>    
                      </tr>
                    </thead>
                    <tbody id="listAccount">
                        <td><h6>Hiện chưa có tài khoản nào</h6></td>
                    </tbody>
                </table>
                <div class="action col-md-3 col-md-push-2">
                    <button class="btn btn-primary">Vô hiệu hóa</button>
                </div>
            </div>
        </div>
       
</body>
<script src="../javascripts/modalBox.js"></script>
<script src="../javascripts/init.js"></script>
<script src="../javascripts/listAccountAdmin2.js" type="module"></script>
