<div class="header">
    <a href="/"><img src="../images/logo.png" alt="logo"></a>
</div>
<div class="scrollmenu">
    <div class="right">
        <a href="/">Xử lý yêu cầu</a>
        <a href="">Báo Cáo Thống Kê</a>
        <a href="/manage-account">Quản lý tài khoản</a>
    </div>
    <div class="right">
        <% if(locals.hoTen) { %> 
        <a href="#"><%= locals.hoTen %></a>
        <% }else{ %>
        <a href="/users">Đăng Nhập</a>
        <% } %> 
        <a href="#">Đăng Xuất</a>   
    </div>
</div>

<div class="scrollmenu2">
    <a href="#home">Sửa Thông Tin</a>
    <a href="#news">Phê Duyệt YC Đại Lí</a>
    <a href="#contact">Phê Duyệt YC Gia Hạn</a>
    <a href="#about">Quản Lí CTS Server</a>
</div>