<div class="header">
    <a href="/"><img src="../images/logo.png" alt="logo"></a>
</div>
<div class="scrollmenu">
    <div class="right">
        <a href="/">Trang chủ</a>
        <a href="#news">Báo Cáo Thống Kê</a>
        <a href="/">Chức năng sau bán</a>
        <a href="quanlitaikhoan.ejs">Quản lí tài khoản</a>
    </div>
    <div class="right">
        <a href="#">Đăng Nhập</a>
        <a href="#">Đăng Xuất</a>
    </div>
</div>
<div class="scrollmenu2">
    <a href="#home">Sửa Thông Tin</a>
    <a href="#news">Phê Duyệt YC Đại Lí</a>
    <a href="#contact">Phê Duyệt YC Gia Hạn</a>
    <a href="#about">Quản Lí CTS Server</a>
</div>