<div class="header">
    <a href="/"><img src="../images/logo.png" alt="logo"></a>
</div>
<div class="scrollmenu">
    <div class="right">
        <a href="/">Trang chủ</a>
        <a href="#news">Báo Cáo Thống Kê</a>
        <a href="./quanlitaikhoan.html">Chức năng sau bán</a>
    </div>
    <div class="right">
        <a href="#">Đăng Nhập</a>
        <a href="#">Đăng Xuất</a>
    </div>
 
</div>
