<div class="header">
    <a href="/"><img src="../images/logo.png" alt="logo"></a>
</div>
<div class="scrollmenu">
    <div class="right">
        <a href="/">Danh sách yêu cầu</a>
        <a href="">Báo Cáo Thống Kê</a>
        <a href="/manage-account">Quản lý tài khoản</a>
    </div>
    <div class="right">
        <% if(locals.user) { %> 
        <a href="#"><%= locals.user.hoTen %></a>
        <a href="/users/logout">Đăng Xuất</a>   

        <% }else{ %>
        <a href="/users/login">Đăng Nhập</a>
        <% } %> 
    </div>
</div>
