<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('header') %>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../stylesheets/organization.css">
        <link rel="stylesheet" href="../stylesheets/adminhome.css">
        <link rel="stylesheet" href="../public/stylesheets/quanlitaikhoan.css">
        <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <%- include('menuDaily') %>
        </div>
        <form action="/action_page.php" style="margin-top: 1vw;">
            <div id="form">
                <div class="info-user">
                    <div>
                        <h3>Thông Tin Tìm Kiếm</h3>
                    </div>
                    <div id="wrt-info">
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Tên Đăng Nhập</span>
                                <input type="text">
                            </div>
                            <div class="if-fm ck">
                                <span>Tên Đầy Đủ</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="if-fm">
                            <div class="if-fm ck">
                                <span>Mã Tỉnh</span>
                                <input type="text">
                            </div>
                            <div class="if-fm ck">
                                <span>Loại Tài Khoản</span>
                                <select name="" id="" style="width: 27vw;">
                              <option value="">Tất Cả</option>
                              <option value="">Admin Cấp 1</option>
                              <option value="">Admin Cấp 2</option>
                              <option value="">Đại Lý Cấp 1</option>
                              <option value="">Đại Lý Cấp 2</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="register">
                    <div class="rg-btn">
                        <input type="submit" value="Tìm Kiếm" class="btn">
                        <input type="submit" value="Thêm Mới" class="btn">
                    </div>
                </div>
        </form>

        <div id="form">
            <div class="info-user">
                <div>
                    <h3>Kết Quả Tìm Kiếm</h3>
                </div>
            </div>
        </div>
        </div>
</body>
<script>
    /* When the user clicks on the button, 
                                                                                                                                                                                                                                                                                                                                                                                                        toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>

</html>