body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 17px;
    padding: 0;
    box-sizing: border-box;
    max-width: 1170px;
    background-color: #eee;
}

.wrapper {
    background-color: #fff;
    padding-bottom:20px;
}

.info-user {
    padding: 0px 15px;
    width: 100%;
}

form {
    padding: 10px;
}

.header {
    width: auto;
    height: auto;
}

.header img {
    width: 25%;
    height: 25%;
}

div.scrollmenu {
    background-color: #E8AB1C;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
thead.thead-default {
    background: #eee;
    border-bottom: 3px solid;
}
a {
    text-decoration: none
}

.left {
    display: flex;
}

.right {
    display: flex;
}

div.scrollmenu a {
    margin: 1.2vw;
    line-height: 50px;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.2s
}

div.scrollmenu a:hover {
    background-color: #eee;
}

div.scrollmenu2 {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu2 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.scrollmenu2 a:hover {
    background-color: #777;
}

.i-box {
    margin-top: 1vw;
}

.i-box legend {
    color: orange;
}

form {
    border-radius: 5px;
}

.box1 {
    float: left;
}

.box2 {
    float: right;
    margin-right: 17vw;
}

.box2 input {
    margin-left: -1vw;
}

.box2 label {
    margin-right: 2vw;
}

.box1 input {
    margin-left: -1vw;
}

.box1 label {
    margin-right: 10vw;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.scrollmenu .dropdown {
    float: right;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-right: 4vw;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

input[type=text] select option,
input[type=date] {
    border: 2px solid purple;
    border-radius: 4px;
}

input[type=text] select option,
input[type=date] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #58257b;
    border-radius: 4px;
}

select {
    width: 140px;
    height: 30px
}

* {
    box-sizing: border-box;
}

.nm-fm {
    text-align: center;
    color: rgb(42, 85, 99);
    margin-bottom: 10px;
    margin-top: 10px;
}

.nm-fm h2 {
    font-size: 18px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.title {
    font-size: 30px !important;
    margin: 10px auto;
}

h3 {
    color: #ffa100;
}

.note {
    color: red;
}

#form {
    font-size: 12px;
    /* padding: 5px; */
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.if-fm {
    display: flex;
    margin: 0 2px;
    width: 100%;
    align-items: center;
}

.if-fm label {
    width: 34%;
    text-align: left;
}

.table thead th {
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
    font-size: 15px;
    padding: 0.25rem;
    border: 1px solid #9c9c9c;
}

table {
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.mn {
    width: 100%;
}

.mn label {
    width: 16%;
    display: inline-flex;
    align-items: center;
}

label {
    font-size: 14px;
}

.yeucau {
    border: solid 0.25px #ccc;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
}

div.example input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 5px;
    margin-top: 2vw;
}

div.example::after {
    content: "";
    clear: both;
    display: table;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.3s ease-in-out;
    opacity: 0;
  }
  .top-modal{
    position: relative;
  }
h5{
    color: #ffa100;
}
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .form-area{
    width: 90%;
  }
  .form-area input[type="text"]{
    border: 1px solid #ced4da !important;
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: -10px;
    right: -110px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.form-group{
    display:flex;
    align-items: center;
}